<header class="site-header">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: 'path' -%}
    {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>

    {%- unless page_titles == empty %}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger">
        <label for="nav-trigger">
          <svg class="svg-icon gray menu-icon" aria-labelledby="bars-title" role="img">
            <title id="bars-title">Navigation</title>
            <use href="{{ '/assets/fa-icons.svg#bars' | relative_url }}"></use>
          </svg>
        </label>

        {% include_cached nav-items.html paths = page_paths %}
      </nav>
    {%- endunless %}
  </div>
</header>
