---
permalink: /
---

<div class="page">
  <section aria-labelledby="latest-post">
    <h1 id="latest-post">Latest Posts</h1>
    {% for post in site.posts limit:3 %}
    {% include article.html %}
    {% endfor %}
  </section>

  <section aria-labelledby="projects-under-this-site">
    <h2 id="projects-under-this-site">Projects under this site</h2>
    {% assign repos = site.github.public_repositories
    | where_exp:"item", "item.homepage contains wushenrong" %}
    <ul>
      {% for repo in repos limit:3 %}
      <li>
        <a href="{{ repo.homepage }}">{{ repo.name }}</a>
        <p>{{ repo.description }}</p>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
